<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oxygen &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="gettemplates.co"/>

    <!--
        Oxygen by gettemplates.co
        Twitter: http://twitter.com/gettemplateco
        URL: http://gettemplates.co
    -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="../../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../../static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <link rel="icon" href="../../static/images/image.ico" type="image/x-icon"/>

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="../../static/css/style.css">

    <!-- Modernizr JS -->
    <script src="../../static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="index">医学联盟</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li class="active"><a href="index">首页</a></li>
						<li><a href="about">关于我们</a></li>
						<li class="has-dropdown">
							<a href="services">知识图谱</a>
							<ul class="dropdown">
								<li><a href="#">疾病</a></li>
								<li><a href="#">症状</a></li>
								<li><a href="#">检查</a></li>
								<li><a href="#">手术</a></li>
								<li><a href="#">高考专业</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">nlp工具</a>
							<ul class="dropdown">
								<li><a href="#">医学分词</a></li>
								<li><a href="#">词语相似度</a></li>
								<li><a href="#">命名体识别</a></li>
								<li><a href="#">医学关系抽取</a></li>
								<li><a href="#">医学在线问答</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">医学资料</a>
							<ul class="dropdown">
								<li><a href="#">医学标准</a></li>
								<li><a href="#">医学论文</a></li>
								<li><a href="#">医学专利</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">医学工具</a>
							<ul class="dropdown">
								<li><a href="#">风险预测</a></li>
								<li><a href="#">疾病自诊</a></li>
								<li><a href="#">医学区块链</a></li>
							</ul>
						</li>
						<li><a href="contact">联系我们</a></li>
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="#"><span>管理员登陆</span></a></li>
					</ul>
				</div>
<!--				<div class="col-xs-2 text-right hidden-xs menu-2">-->
<!--					<ul>-->
<!--						<li class="btn-cta"><a href="#"><span>注册</span></a></li>-->
<!--					</ul>-->
<!--				</div>-->
			</div>

		</div>
	</nav>

    <header id="gtco-header" class="gtco-cover gtco-cover-sm1" role="banner"
            style="background-image:url(../../static/images/123.jpg);height:500px">

        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <div class="display-t">
               <div class="display-tc animate-box" data-animate-effect="fadeIn">

                            <h2 style="margin: auto;margin-top:7%;">公钥验签</h2>
                            <!--							<h2>Free html5 templates Made by <a href="http://gettemplates.co" target="_blank">gettemplates.co</a></h2>-->

                            <div class="row form-group">
                                <div class="col-md-12">

                                </div>
                            </div>
                           <div class="row form-group">
                                <div class="col-md-12">
                                    <textarea name="message" id="message" cols="2" rows="3" class="form-control"
                                              placeholder="用户数据" style="background-color:PowderBlue;"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <!--								<label for="email">Email</label>-->
                                    <input type="text" id="pubkey" class="pubkey"  placeholder="公钥"
                                           style="background-color:PowderBlue;width:100%">
                                </div>
                            </div>
                           <div class="row form-group">
                                        <div class="col-md-12">
                                            <!--								<label for="email">Email</label>-->
                                            <input type="text" id="sign" class="sign"  placeholder="签名"
                                                   style="background-color:PowderBlue;width:100%">
                                        </div>
                                    </div>



                            <div class="form-group">
                                <input type="submit" id="upload" value="验签" class="btn btn-primary">
                            </div>
                      <a href="crate_key.html" style="position:relative;left:-30%;position:absolute;top:140px;color:white;">公私钥创建</a>
                            <a href="sign.html" style="position:relative;left:-30%;position:absolute;top:200px;color:white;">数据签名</a>
                            <a href="hash.html" style="position:relative;left:-30%;position:absolute;top:260px;color:white;">数据摘要</a>
                            <a href="upload.html" style="position:relative;left:-30%;position:absolute;top:320px;color:white;">数据上链</a>
                            <a href="download.html" style="position:relative;left:-30%;position:absolute;top:380px;color:white;">数据验证</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </header>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <div class="gtco-section1">
        <div class="gtco-container">
            <div class="row">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="8" cellspacing="1">


                            <tbody>
                            <tr>
                                <td bgcolor="#F5F5F5" id="status_text" align="center"></td>
                                <td id="status" bgcolor="#FFFFFF" align="center"
                                    style="font-size:16px;word-break: break-all;"></td>
                            </tr>




                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>

            </div>
        </div>
    </div>

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-4 gtco-widget">
                    <h3>The Company</h3>

                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
                        adipisci architecto culpa amet.</p>
                    <p><a href="#">Learn More</a></p>
                </div>
                <div class="col-md-2 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Meetups</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Handbook</a></li>
                        <li><a href="#">Held Desk</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Find Designers</a></li>
                        <li><a href="#">Find Deelopers</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>
            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a>
                            Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script>
  $(document).ready(function(){
    //点击按钮发送数据
    $("#upload").click(function(event){
         //关闭表单里面的按钮默认行为
         event.preventDefault();
         var message =$("#message").val();
         var pubkey =$("#pubkey").val();
         var sign =$("#sign").val();
         $("#status").empty();
          $.ajax({
                type: "post",
                url: '/api/p/medical/blockchain/verify',
                data: JSON.stringify({"address":pubkey,"text":message,"sign":sign}),
                contentType: "application/json;charsr=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    console.log(data);
                    {$("#status_text").append($("<span></span>").text("状态"));
                    $("#status").append($("<span></span>").text(data.status))}
                }

            });

    })
  });
</script>
<!-- jQuery -->
<script src="../../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../../static/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="../../static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="../../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="../../static/js/main.js"></script>

</body>
</html>

